﻿<html>
	<meta charset="utf-8">
	<link rel="stylesheet" href="style.css">
	<script src="nui://game/ui/jquery.js" type="text/javascript"></script>
	<script src="vue.js"></script>
	<body>
		<div class="b1" id="app" v-show="CharacterMode">
			<div class="b1-title">Criação de Personagem</div>
			<div class="fm-b">
				<div class="fm-b_main">
					<input type="text" v-model="characterNome" placeholder="Nome" style="text-align: center; border-radius: 15px; border: 0; padding: 5px;" @input="changeAppearance">
				</div>
			</div>
			<div class="fm-b">
				<div class="fm-b_main">
					<input type="text" v-model="characterSobrenome" placeholder="Sobrenome" style="text-align: center; border-radius: 15px; border: 0; padding: 5px;" @input="changeAppearance">
				</div>
			</div>
			<div class="fm-b">
				<div class="fm-b_main">
					<input type="text" v-model.number="characterAge" placeholder="Idade (18-90)" style="text-align: center; border-radius: 15px; border: 0; padding: 5px;" maxlength="2" onkeyup="this.value=this.value.replace(/[^\d]/,'')" @input="changeAppearance">
				</div>
			</div>
			<div class="fm-b">
				<div class="fm-b_arrow" @click="changeGender"><</div>
				<div class="fm-b_main">
					{{ genderNames[gender] }}
					<p>{{ i18n.gender }}</p>
				</div>
				<div class="fm-b_arrow" @click="changeGender">></div>
			</div>

			<div class="fm-b" style="margin-top: 5vh;">
				<div class="fm-b_arrow" @click="prevFather"><</div>
				<div class="fm-b_main">
					{{ fatherNames[father] }}
					<p>{{ i18n.father }}</p>
				</div>
				<div class="fm-b_arrow" @click="nextFather">></div>
			</div>

			<div class="fm-input-b">
				<input type="range" min="0.0" max="1.0" step="0.05" v-model.number="shapeMix" @input="changeAppearance">
			</div>

			<div class="fm-b">
				<div class="fm-b_arrow" @click="prevMother"><</div>
				<div class="fm-b_main">
					{{ motherNames[mother] }}
					<p>{{ i18n.mother }}</p>
				</div>
				<div class="fm-b_arrow" @click="nextMother">></div>
			</div>
	
			<div class="fm-b" style="margin-top: 5vh;">
				<div class="fm-b_main">
					<input type="range" min="0" max="12" step="1" v-model.number="skinColor" @input="changeAppearance">
					<p>{{ i18n.skinCol }}</p>
				</div>
			</div>

			<div class="fm-b">
				<div class="fm-b_main">
					<input type="range" min="90" max="270" step="5" v-model.number="camRotation" @input="changeCamRotation">
					<p>{{ i18n.rot }}</p>
				</div>
			</div>
	
			<div class="b1-title b1-done" @click="done">{{ i18n.next }}</div>
		</div>



		<div class="b1" id="app2" v-show="CharacterMode2" style="display: none;">
			<div class="b1-face-item" style="margin-top: 0.5vh;">
				<input type="range" min="90" max="270" step="1" v-model.number="camRotation" @input="changeCamRotation">
			  	<p>{{ i18n.rot }}</p>
			</div>
		
			<div class="b1-face-item">
				<input type="range" min="0" max="32" step="1" v-model.number="eyesColor" @input="changeAppearance">
				<p>Cor dos Olhos ({{ eyesColor }})</p>
			</div>

			<div class="b1-face-item">
				<input type="range" min="-1.0" max="0.99" step="0.01" v-model.number="eyebrowsHeight" @input="changeAppearance">
				<p>Altura Sobrancelhas ({{ eyebrowsHeight }})</p>
			</div>
			<div class="b1-face-item">
				<input type="range" min="-1.0" max="0.99" step="0.01" v-model.number="eyebrowsWidth" @input="changeAppearance">
				<p>Tamanho Sobrancelhas ({{ eyebrowsWidth }})</p>
			</div>

			<div class="b1-face-item">
				<input type="range" min="-1.0" max="0.99" step="0.01" v-model.number="noseWidth" @input="changeAppearance">
				<p>Tamanho Nariz ({{ noseWidth }})</p>
			</div>
			<div class="b1-face-item">
				<input type="range" min="-1.0" max="0.99" step="0.01" v-model.number="noseHeight" @input="changeAppearance">
				<p>Altura Nariz ({{ noseHeight }})</p>
			</div>
			<div class="b1-face-item">
				<input type="range" min="-1.0" max="0.99" step="0.01" v-model.number="noseLength" @input="changeAppearance">
				<p>Tamanho Nariz ({{ noseLength }})</p>
			</div>
			<div class="b1-face-item">
				<input type="range" min="-1.0" max="0.99" step="0.01" v-model.number="noseBridge" @input="changeAppearance">
				<p>Ponte Nasal ({{ noseBridge }})</p>
			</div>
			<div class="b1-face-item">
				<input type="range" min="-1.0" max="0.99" step="0.01" v-model.number="noseTip" @input="changeAppearance">
				<p>Ponta do Nariz ({{ noseTip }})</p>
			</div>
			<!--<div class="b1-face-item">
				<input type="range" min="-1.0" max="0.99" step="0.01" v-model.number="noseShift" @input="changeAppearance">
				<p>Curva do Nariz</p>
			</div>-->

			<div class="b1-face-item">
				<input type="range" min="-1.0" max="0.99" step="0.01" v-model.number="cheekboneHeight" @input="changeAppearance">
				<p>Altura Bochechas ({{ cheekboneHeight }})</p>
			</div>
			<div class="b1-face-item">
				<input type="range" min="-1.0" max="0.99" step="0.01" v-model.number="cheekboneWidth" @input="changeAppearance">
				<p>Largura Bochechas ({{ cheekboneWidth }})</p>
			</div>
			<div class="b1-face-item">
				<input type="range" min="-1.0" max="0.99" step="0.01" v-model.number="cheeksWidth" @input="changeAppearance">
				<p>Tamanho Bochechas ({{ cheeksWidth }})</p>
			</div>
			<div class="b1-face-item">
				<input type="range" min="-1.0" max="0.99" step="0.01" v-model.number="lips" @input="changeAppearance">
				<p>Lábios ({{ lips }})</p>
			</div>
			<div class="b1-face-item">
				<input type="range" min="-1.0" max="0.99" step="0.01" v-model.number="jawWidth" @input="changeAppearance">
				<p>Largura Mandíbula ({{ jawWidth }})</p>
			</div>
			<div class="b1-face-item">
				<input type="range" min="-1.0" max="0.99" step="0.01" v-model.number="jawHeight" @input="changeAppearance">
				<p>Altura Mandíbula ({{ jawHeight }})</p>
			</div>
			<div class="b1-face-item">
				<input type="range" min="-1.0" max="0.99" step="0.01" v-model.number="chinLength" @input="changeAppearance">
				<p>Tamanho Queixo ({{ chinLength }})</p>
			</div>
			<div class="b1-face-item">
				<input type="range" min="-1.0" max="0.99" step="0.01" v-model.number="chinPosition" @input="changeAppearance">
				<p>Posição Queixo ({{ chinPosition }})</p>
			</div>
			<div class="b1-face-item">
				<input type="range" min="-1.0" max="0.99" step="0.01" v-model.number="chinWidth" @input="changeAppearance">
				<p>Tamanho Queixo ({{ chinWidth }})</p>
			</div>
			<div class="b1-face-item">
				<input type="range" min="-1.0" max="0.99" step="0.01" v-model.number="chinShape" @input="changeAppearance">
				<p>Forma do Queixo ({{ chinShape }})</p>
			</div>
			<div class="b1-face-item">
				<input type="range" min="-1.0" max="0.99" step="0.01" v-model.number="neckWidth" @input="changeAppearance">
				<p>Largura Pescoço ({{ neckWidth }})</p>
			</div>

			<!--<div class="b1-face-item"  v-for="(item, index) in faceDataNames">
				<input type="range" min="-1.0" max="1.0" step="0.01" v-model.number="facedata[index]" @input="setToNumber(index)">
			  	<p>{{ item }}</p>
			</div>-->
			<div class="b1-title b1-back" @click="back">{{ i18n.back }}</div>
			<div class="b1-title b1-done" @click="exit">{{ i18n.next }}</div>
		</div>

		<div class="b1" id="app3" v-show="CharacterMode3" style="display: none;">
			<div class="b1-face-item" style="margin-top: 0.5vh;">
				<input type="range" min="90" max="270" step="1" v-model.number="camRotation" @input="changeCamRotation">
			  	<p>{{ i18n.rot }}</p>
			</div>
		
			<div class="b1-face-item">
				<input type="range" min="0" max="38" step="1" v-model.number="hairModel" @input="changeAppearance">
				<p>Cabelo ({{ hairModel }})</p>
			</div>
			<div class="b1-face-item">
				<input type="range" min="0" max="63" step="1" v-model.number="firstHairColor" @input="changeAppearance">
				<p>Cor Primária Cabelo ({{ firstHairColor }})</p>
			</div>
			<div class="b1-face-item">
				<input type="range" min="0" max="63" step="1" v-model.number="secondHairColor" @input="changeAppearance">
				<p>Cor Secundária Cabelo ({{ secondHairColor }})</p>
			</div>
			<div class="b1-face-item">
				<input type="range" min="0" max="33" step="1" v-model.number="eyebrowsModel" @input="changeAppearance">
				<p>Sobrancelhas ({{ eyebrowsModel }})</p>
			</div>
			<div class="b1-face-item">
				<input type="range" min="0" max="63" step="1" v-model.number="eyebrowsColor" @input="changeAppearance">
				<p>Cor das Sobrancelhas ({{ eyebrowsColor }})</p>
			</div>
			<div class="b1-face-item">
				<input type="range" min="-1" max="28" step="1" v-model.number="beardModel" @input="changeAppearance">
				<p>Modelo Barba ({{ beardModel }})</p>
			</div>
			<div class="b1-face-item">
				<input type="range" min="0" max="63" step="1" v-model.number="beardColor" @input="changeAppearance">
				<p>Cor da Barba ({{ beardColor }})</p>
			</div>
			<div class="b1-face-item">
				<input type="range" min="-1" max="16" step="1" v-model.number="chestModel" @input="changeAppearance">
				<p>Pelo Corporal ({{ chestModel }})</p>
			</div>
			<div class="b1-face-item">
				<input type="range" min="0" max="63" step="1" v-model.number="chestColor" @input="changeAppearance">
				<p>Cor do Pelo Corporal ({{ chestColor }})</p>
			</div>

			<div class="b1-face-item">
				<input type="range" min="-1" max="7" step="1" v-model.number="blushModel" @input="changeAppearance">
				<p>Blush ({{ blushModel }})</p>
			</div>
			<div class="b1-face-item">
				<input type="range" min="0" max="63" step="1" v-model.number="blushColor" @input="changeAppearance">
				<p>Cor do Blush ({{ blushColor }})</p>
			</div>
			<div class="b1-face-item">
				<input type="range" min="-1" max="9" step="1" v-model.number="lipstickModel" @input="changeAppearance">
				<p>Batom ({{ lipstickModel }})</p>
			</div>
			<div class="b1-face-item">
				<input type="range" min="0" max="63" step="1" v-model.number="lipstickColor" @input="changeAppearance">
				<p>Cor do Batom ({{ lipstickColor }})</p>
			</div>
			<div class="b1-face-item">
				<input type="range" min="-1" max="23" step="1" v-model.number="blemishesModel" @input="changeAppearance">
				<p>Manchas ({{ blemishesModel }})</p>
			</div>
			<div class="b1-face-item">
				<input type="range" min="-1" max="14" step="1" v-model.number="ageingModel" @input="changeAppearance">
				<p>Envelhecimento ({{ ageingModel }})</p>
			</div>
			<div class="b1-face-item">
				<input type="range" min="-1" max="11" step="1" v-model.number="complexionModel" @input="changeAppearance">
				<p>Aspecto ({{ complexionModel }})</p>
			</div>
			<div class="b1-face-item">
				<input type="range" min="-1" max="10" step="1" v-model.number="sundamageModel" @input="changeAppearance">
				<p>Pele ({{ sundamageModel }})</p>
			</div>
			<div class="b1-face-item">
				<input type="range" min="-1" max="17" step="1" v-model.number="frecklesModel" @input="changeAppearance">
				<p>Sardas ({{ frecklesModel }})</p>
			</div>
			<div class="b1-face-item">
				<input type="range" min="-1" max="71" step="1" v-model.number="makeupModel" @input="changeAppearance">
				<p>Maquiagem ({{ makeupModel }})</p>
			</div>
			<div class="b1-title b1-back" @click="back">{{ i18n.back }}</div>
			<div class="b1-title b1-done" @click="exit">{{ i18n.save }}</div>
		</div>

	</body>
</html>


<script>
function checkName(str) {
    return !(/^[a-zA-Z]*$/g.test(str));
}

const app = new Vue({
	el: '#app',
	data: {
		CharacterMode: false,
		characterNome: "",
		characterSobrenome: "",
		characterAge: "",
		gender: 0,
		genderNames: ["Homem", "Mulher"],
		father: 0,
		mother: 0,
		fatherNames: ["Benjamin", "Daniel", "Joshua", "Noah", "Andrew", "Juan", "Alex", "Isaac", "Evan", "Ethan", "Vincent", "Angel", "Diego", "Adrian", "Gabriel", "Michael", "Santiago", "Kevin", "Louis", "Samuel", "Anthony", "Claude", "Niko", "John"],
		motherNames: ["Hannah", "Aubrey", "Jasmine", "Gisele", "Amelia", "Isabella", "Zoe", "Ava", "Camila", "Violet", "Sophia", "Evelyn", "Nicole", "Ashley", "Gracie", "Brianna", "Natalie", "Olivia", "Elizabeth", "Charlotte", "Emma", "Misty"],
		fathersID: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 42, 43, 44],
		mothersID: [21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 45],
		skinColor: 6,
		shapeMix: 0.5,
		camRotation: 180,

		i18n: {
			gender: "Gênero",
			father: "Pai",
			mother: "Mãe",
			skinCol: "Cor da Pele",
			rot: "Rotação",
			next: "Próximo",
		},
		
	},
	methods: {
		OpenCharacterMode: function() {
			this.CharacterMode = true
		},
		CloseCharacterMode: function() {
			this.CharacterMode = false
		},
		prevFather: function() {
			if (this.father === 0) this.father = 23;
			else this.father--;
			this.changeAppearance();
		},	
		nextFather: function() {
			if (this.father === 23) this.father = 0;
			else this.father++;
			this.changeAppearance();
		},	
		prevMother: function() {
			if (this.mother === 0) this.mother = 21;
			else this.mother--;
			this.changeAppearance();
		},	
		nextMother: function() {
			if (this.mother === 21) this.mother = 0;
			else this.mother++;
			this.changeAppearance();
		},	
		changeAppearance: function() {
			const arr = {
				characterNome: this.characterNome.trim(),
				characterSobrenome: this.characterSobrenome.trim(),
				characterAge: this.characterAge,
				fathersID: this.fathersID[this.father],
				mothersID: this.mothersID[this.mother], 
				skinColor: this.skinColor,
				shapeMix: this.shapeMix,
			};
			//mp.trigger("cCharCreator-UpdateSkinOptions", JSON.stringify(arr));
			$.post('http://feijonts-personagem/UpdateSkinOptions', JSON.stringify(arr));

		},	
		changeGender: function() {
			if (this.gender === 1) this.gender = 0;
			else this.gender = 1;
			//mp.trigger("cMisc-CallServerEvent", "sCharCreator-ChangeGender", this.gender);
			$.post('http://feijonts-personagem/ChangeGender', JSON.stringify({ gender: this.gender }));
			this.changeAppearance();
		},	
		changeCamRotation: function() {
			//mp.trigger("cChangeHeading", this.camRotation);
			$.post('http://feijonts-personagem/cChangeHeading', JSON.stringify({ camRotation: this.camRotation }));

		},
		done: function() {
			const arr = [
				this.characterNome.trim(),
				this.characterSobrenome.trim(),
				this.characterAge,
				this.fathersID[this.father],
				this.mothersID[this.mother], 
				this.skinColor,  
				this.shapeMix,
			];
			if (this.characterNome.trim().length < 1) return;
			if (this.characterSobrenome.trim().length < 1) return;
			if (this.characterAge.length < 1) return;
			if (this.characterAge < 18 || this.characterAge > 90) return;

			if (checkName(this.characterNome.trim())) return;
			if (checkName(this.characterSobrenome.trim())) return;

			$.post('http://feijonts-personagem/cDone');
			//mp.trigger("cMisc-CallServerEvent", "sCharCreator-SaveSkinOptions", JSON.stringify(arr));
			//mp.trigger("cCharCreator-LoadWindowTwo");
		},
	}
});

app.changeAppearance();


const app2 = new Vue({
	el: '#app2',
	data: {
		CharacterMode2: false,
		camRotation: 180,

		// FaceData -- Default Settings
		eyesColor: 0,
		eyebrowsHeight: 0.0,
		eyebrowsWidth: 0.0,
		noseWidth: 0.0,
		noseHeight: 0.0,
		noseLength: 0.0,
		noseBridge: 0.0,
		noseTip: 0.0,
		noseShift: 0.0,
		cheekboneHeight: 0.0,
		cheekboneWidth: 0.0,
		cheeksWidth: 0.0,
		lips: 0.0,
		jawWidth: 0.0,
		jawHeight: 0.0,
		chinLength: 0.0,
		chinPosition: 0.0,
		chinWidth: 0.0,
		chinShape: 0.0,
		neckWidth: 0.0,
		// End

		i18n: {
			rot: "Rotação",
			next: "Próximo",
			back: "Voltar",
		},
	},
	methods: {
		OpenCharacterMode: function() {
			this.CharacterMode2 = true
		},
		CloseCharacterMode: function() {
			this.CharacterMode2 = false
		},
		changeAppearance: function() {
			const arr = {
				eyesColor: this.eyesColor,

				eyebrowsHeight: this.eyebrowsHeight,
				eyebrowsWidth: this.eyebrowsWidth,

				noseWidth: this.noseWidth,
				noseHeight: this.noseHeight,
				noseLength: this.noseLength,
				noseBridge: this.noseBridge,
				noseTip: this.noseTip,
				noseShift: this.noseShift,

				cheekboneHeight: this.cheekboneHeight,
				cheekboneWidth: this.cheekboneWidth,
				cheeksWidth: this.cheeksWidth,
				lips: this.lips,
				jawWidth: this.jawWidth,
				jawHeight: this.jawHeight,
				chinLength: this.chinLength,
				chinPosition: this.chinPosition,
				chinWidth: this.chinWidth,
				chinShape: this.chinShape,
				neckWidth: this.neckWidth,
			};
			//mp.trigger("cCharCreator-UpdateSkinOptions", JSON.stringify(arr));
			$.post('http://feijonts-personagem/UpdateFaceOptions', JSON.stringify(arr));

		},	
		changeCamRotation: function() {
			//mp.trigger("cChangeHeading", this.camRotation); 
			$.post('http://feijonts-personagem/cChangeHeading', JSON.stringify({ camRotation: this.camRotation }));
		},
		back: function() {
			//mp.trigger("cMisc-CallServerEvent", "sCharCreator-SaveFaceOptions", JSON.stringify(this.facedata));
			//mp.trigger("cCloseCefAndDestroyCam");
			$.post('http://feijonts-personagem/BackPart1');
		},
		exit: function() {
			//mp.trigger("cMisc-CallServerEvent", "sCharCreator-SaveFaceOptions", JSON.stringify(this.facedata));
			//mp.trigger("cCloseCefAndDestroyCam");
			$.post('http://feijonts-personagem/cDonePart2');
		},
	}
});

app2.changeAppearance();

const app3 = new Vue({
	el: '#app3',
	data: {
		CharacterMode3: false,
		camRotation: 180,

		// FaceData -- Default Settings
		hairModel: 4,
		firstHairColor: 0,
		secondHairColor: 0,
		eyebrowsModel: 0,
		eyebrowsColor: 0,
		beardModel: -1,
		beardColor: 0,
		chestModel: -1,
		chestColor: 0,
		blushModel: -1,
		blushColor: 0,
		lipstickModel: -1,
		lipstickColor: 0,
		blemishesModel: -1,
		ageingModel: -1,
		complexionModel: -1,
		sundamageModel: -1,
		frecklesModel: -1,
		makeupModel: -1,
		// End

		i18n: {
			rot: "Rotação",
			save: "Salvar",
			back: "Voltar",
		},
	},
	methods: {
		OpenCharacterMode: function() {
			this.CharacterMode3 = true
		},
		CloseCharacterMode: function() {
			this.CharacterMode3 = false
		},
		changeAppearance: function() {
			const arr = {
				hairModel: this.hairModel,
				firstHairColor: this.firstHairColor,
				secondHairColor: this.secondHairColor,
				eyebrowsModel: this.eyebrowsModel,
				eyebrowsColor: this.eyebrowsColor,
				beardModel: this.beardModel,
				beardColor: this.beardColor,
				chestModel: this.chestModel,
				chestColor: this.chestColor,
				blushModel: this.blushModel,
				blushColor: this.blushColor,
				lipstickModel: this.lipstickModel,
				lipstickColor: this.lipstickColor,
				blemishesModel: this.blemishesModel,
				ageingModel: this.ageingModel,
				complexionModel: this.complexionModel,
				sundamageModel: this.sundamageModel,
				frecklesModel: this.frecklesModel,
				makeupModel: this.makeupModel,
				makeupColor: this.makeupColor,
			};
			//mp.trigger("cCharCreator-UpdateSkinOptions", JSON.stringify(arr));
			$.post('http://feijonts-personagem/UpdateHeadOptions', JSON.stringify(arr));

		},	
		changeCamRotation: function() {
			//mp.trigger("cChangeHeading", this.camRotation); 
			$.post('http://feijonts-personagem/cChangeHeading', JSON.stringify({ camRotation: this.camRotation }));
		},
		back: function() {
			//mp.trigger("cMisc-CallServerEvent", "sCharCreator-SaveFaceOptions", JSON.stringify(this.facedata));
			//mp.trigger("cCloseCefAndDestroyCam");
			$.post('http://feijonts-personagem/BackPart2');
		},
		exit: function() {
			//mp.trigger("cMisc-CallServerEvent", "sCharCreator-SaveFaceOptions", JSON.stringify(this.facedata));
			//mp.trigger("cCloseCefAndDestroyCam");
			$.post('http://feijonts-personagem/cDoneSave');
		},
	}
});

// Listen for NUI Events
window.addEventListener('message', function(event){
	var item = event.data;
	if (item.CharacterMode == true) {
		app.OpenCharacterMode()
	}
	else if (item.CharacterMode == false) {
		app.CloseCharacterMode()
	}
	if (item.CharacterMode2 == true) {
		app2.OpenCharacterMode()
	}
	else if (item.CharacterMode2 == false) {
		app2.CloseCharacterMode()
	}
	if (item.CharacterMode3 == true) {
		app3.OpenCharacterMode()
	}
	else if (item.CharacterMode3 == false) {
		app3.CloseCharacterMode()
	}
});

</script>