* {
	margin: 0;
	padding: 0;
}

html,body {
	margin: 0;
	height: 100%;
	overflow: hidden;
}

@font-face {
    font-family: Bebas;
    src: url("bebas.ttf");
}
.console {
	background-color: white;
	color: red;
	font-weight: bold;
}

.menu {
	top: 20%;
	right: 25%;
	position: fixed;
	font-family: arial;
	color: #6F6F6F;
	width: 202px;
	height: 458px;
	text-align: center;
}

.menu_description {
	position: absolute;
	top: 20%;
	right: 10%;
	margin-top: 11px;
	margin-left: 11px;
}

.menu_description text01 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: rgba(255,255,255,0.7);
	background: rgba(0,0,0,0.7);
	width: 80px;
	padding: 7px 12px;
	font-weight: 700;
	float: left;
	margin-bottom: 2px;
}

.menu_description text02 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: rgba(0,0,0,0.7);
	background: rgba(255,255,255,0.7);
	width: 70px;
	padding: 7px 12px;
	float: left;
	margin-bottom: 2px;
}

.menu h1 {
	background: rgba(10,10,10,0.95);
	text-transform: uppercase;
	color: white;
	height: 50px;
	line-height: 50px;
	letter-spacing: 3px;
	font-size: 24px;
	color: #fff;
	font-family: Bebas !important;
	font-weight: 300;
	margin-bottom: 10px;
	border-radius: 3px;
	text-shadow: 1px 1px #000;
}

.choices {
	overflow-y: scroll;
	overflow-x: hidden;
}

.choices::-webkit-scrollbar { 
	display: none;
}

.choices > div {
	text-transform: uppercase;
	background: rgba(20,20,20,0.95);
	line-height: 40px;
	height: 40px;
	border: 0;
	color: #fff;
	margin-bottom: 10px;
	border-radius: 3px;
	letter-spacing: 1px;
	text-shadow: 1px 1px #000;
	border-bottom: 1px solid rgba(5,5,5,0.9);
	font-size: 12px;
}

.choices .selected {
	background: #a8244e;
	border-bottom: 1px solid rgba(5,5,5,0.9);
}

.wprompt {
	font-family: Arial;
	background-color: #111;
	color: #fff;
	width: 600px;
	height: 75px;
	display: flex;
	flex-direction: column;
	padding: 10px 15px;
	background-image: url("https://cdn.discordapp.com/attachments/843216843854053457/843274042537541632/background.png");
	border-radius: 45px;
	background-size: 100% 100%;
	left: initial !important;

	
    position: absolute;
    right: 55px !important; 
    top: 105px !important;
    height: 550px !important;
    width: 291px !important; 
}

.wprompt h1 {
	font-size: 14px;
	padding: 15px 0 12px 5px;
	color: #66ff00;
	overflow: hidden;
	white-space: break-spaces;
}

.wprompt textarea, [contenteditable] {
	outline: none !important;
	background-color: transparent;
	border: 0;
	flex: 1;
	color: #ccc;
	font-size: 15px;
	width: 100%;
	padding: 10px;
	resize: none;
	box-sizing: border-box;
	color: #66ff00;
}

@keyframes typewriter{
	0%{width: 0;}
	100%{
		width: 24em;
		white-space: break-spaces;
	}
}

@keyframes blinkTextCursor{
	from{border-right-color: #66ff00;}
	to{border-right-color: transparent;}
}

.wprompt textarea:focus {
	outline: none !important;
}

.wprompt .help {
	font-size: 12px;
	padding: 12px 0 7px 5px;
	color: #66ff00;
}

.request_manager {
	top: 15%;
	right: 2.2%;
	position: absolute;
	font-family: Arial;
	font-size: 13px;
	color: #999;
	text-align: right;
	max-width: 1280px;
}

.wrapper-request {
	background:#fff;
	padding: 15px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	margin-bottom: 30px;
}

.request_manager.open {
	opacity: 1;
}

.request_manager .time {
	width: 40px;
	height: 40px;
	border-radius: 40px;
	text-align: center;
	display: flex;
	margin: 0 auto;
	align-items: center;
	justify-content: center;
	border: 2px solid #66ff00;
	font-size: 18px;
	font-weight: bold;
	color: #333;
}

.request_manager .info-text {
	text-align: left;
	padding: 10px 0;
	color: #333;
	word-break: break-word;
	text-align: justify;
    width: 190px;
}

.request_manager .actions {
	display: flex;
	margin: 0 -15px -15px;
}

.request_manager .actions div {
	padding: 15px;
	color: #fff;
	font-weight: bold;
	overflow: hidden;
}

.request_manager .actions div.yes {
	background: #70bf42;
	border-bottom-left-radius: 10px;
}

.request_manager .actions div.no {
	background: #e63946;
	border-bottom-right-radius: 10px;
}

.request_manager .actions div span {
	display: inline-block;
	margin: -15px;
	padding: 15px;
	margin-right: 5px;
	background: rgba(0, 0, 0, 0.2)
}


/* 
.request_manager b {
	color: #fff;
}

.request_manager div > span {
	padding: 15px;
	display: block;
}

.request_manager .yes {
	background: #769D00;
	padding: 5px 10px;
	color: #fff;
	margin-left: 20px;
	font-size: 13px;
	border-radius: 10px;
}

.request_manager .no {
	background: #AA0000;
	padding: 5px 10px;
	color: #fff;
	margin-left: 7px;
	font-size: 13px;
	border-radius: 10px;
}

.request_manager .time {
	background: #fff;
	padding: 5px 7px;
	color: #555;
	margin-left: 7px;
	font-size: 13px;
	border-radius: 10px;
} */


/*CUSTOM*/
.main-wprompt {
	position: relative;
	width: 100%;
	height: 100%;
}

.main-wprompt:before {
	width: 430px;
	height: 880px;
	content: '';
	background: url('./background.png') center no-repeat;
	position: absolute;
	background-size: contain;
	right: 0;
	top: 0;
	transform: scale(0.8);
	z-index: 1;
	pointer-events: none;
	display: none;
}

.main-wprompt.open:before {
	display: block;
}