@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,500&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    font-family: "Noto Sans JP", sans-serif;
}

.notification {
    position: fixed;
    top: 8.5rem;
    right: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: hsl(0, 0%, 20%);
    overflow-x: hidden;
    padding: 0.25rem;
}

.message {
    display: grid;
    grid-gap: 0.2rem;
    grid-template-columns: 1fr auto;
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    border-radius: 10px;
    box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.1), 0 2px 3px hsla(0, 0%, 0%, 0.1);
    border-top: 0.5rem solid hsl(0, 0%, 100%);
    transform: translateX(100%);
    opacity: 0;
    visibility: hidden;
    transition-property: transform, opacity, visibility;
    transition-duration: 0.7s;
    transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.message h1 {
    font-size: 1.1rem;
    font-weight: 500;
    text-transform: capitalize;
}

.message p {
    max-width: 305px;
    min-width: 200px;
    font-size: 0.8rem;
    grid-column: 1/-1;
}

.received {
  transform: translateX(0%);
  opacity: 1;
  visibility: visible;
}

.importante {
    border-top-color: #ff0000;
    background: url('https://cdn.discordapp.com/attachments/823332077168623666/835749598000840704/Untitled-1.png'),
    hsl(0, 0%, 100%);
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: 101% 10%;
}
.sucesso {
    border-top-color: hsl(120, 67%, 74%);
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path fill="none" stroke="%2390e990" stroke-width="12" stroke-linejoin="round" stroke-linecap="round" d="M 20 52 l 25 25 l 30 -50"></path></svg>'),
    hsl(0, 0%, 100%);
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: 100% 10%;
}
.aviso {
    border-top-color: hsl(0, 100%, 48%);
    background: url('https://cdn.discordapp.com/attachments/823332077168623666/835738153272737822/Untitled-1.png'),
    hsl(0, 0%, 100%);
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: 101% 10%;
}
.negado {
    border-top-color: hsl(0, 67%, 74%);
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g transform="translate(50 50) rotate(45)"><path fill="none" stroke="%23e99090" stroke-width="12" stroke-linejoin="round" stroke-linecap="round" d="M 0 -30 v 60 z M -30 0 h 60"></path></g></svg>'),
    hsl(0, 0%, 100%);
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: 100% 10%;
}
.financeiro {
    border-top-color: hsl(118, 100%, 50%);
    background: url('https://image.flaticon.com/icons/svg/2916/2916115.svg'),
    hsl(0, 0%, 100%);
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: 98% 10%;
}