body {
  margin: 0px;
  padding: 0px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  background: transparent;
}

.blur-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  float: left;
  background: rgba(0, 0, 0, 0.5);
  -webkit-filter: blur(50px);
  -moz-filter: blur(50px);
  -o-filter: blur(50px);
  -ms-filter: blur(50px);
  filter: blur(50px);
}

.inventory-mask {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0px;
  padding: 0px;
  background: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  display: none;
}

.inventory-content {
  height: 500px;
  width: 100%;
  padding: 0 30px;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); /* IE 9 */
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 999;
}

.title-section {
  font-weight: 500;
  font-size: 16px;
  opacity: 0.85;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
}

.title-section.o {
  color: rgba(255, 255, 255, 0.7);
}

.dropped .elements {
  width: 100%;
  height: auto;
  max-height: 500px;
  padding-bottom: 25px;
  overflow: auto;
}

.dropped .cell {
  padding: 5px !important;
  margin: 5px 0px !important;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  height: auto;
}

.dropped .cell .image {
  width: 30px;
  height: 30px;
  background-size: 100%;
}

.dropped .cell .name, .dropped .cell .amount {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 500;
  font-size: 11px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.dropped .cell .amount {
  color: rgba(255, 255, 255, 0.8);
  text-align: right;
}

.move-here {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.7);
  font-weight: 700;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 999;
  display: none;
  opacity: 0;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
}

.objects {
  padding-bottom: 25px;
  max-height: 500px;
  margin: 0px;
}

.objects .cell {
  flex: 0 0 13.6%;
  max-width: 13.6%;
  height: 123px;
  margin: 0.3%;
  background-color: rgba(0, 204, 255, 0.3);
  padding: 5px 0px;
  padding-bottom: 50px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.8) !important;
  position: relative;
  -webkit-transition: background-color 0.2s linear;
  -ms-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

.objects .cell:hover {
  background-color: rgba(255, 0, 0, 0.5);
}

.objects .cell .row {
  padding: 0px !important;
  margin: 0px !important;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.objects .cell .amount {
  font-size: 12px;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.6) !important;
}

.objects .cell .row .image {
  width: 50px;
  height: 50px;
  background-size: 100%;
  justify-content: center;
  margin: 0px auto;
}

.objects .cell .row .name {
  width: 100%;
  padding: 0px 10px;
  position: absolute;
  bottom: 5px;
  font-size: 11px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.6) !important;
  height: 40px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.objects .cell .row .name i {
  display: contents;
}

.objects .options {
  position: absolute;
  right: -57px;
  top: 0;
  z-index: 5;
  display: none;
}

.objects .options .option {
  width: auto;
  background: #FFF;
  border-radius: 30px;
  color: rgba(0, 0, 0, 0.7);
  padding: 7px 10px;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  margin-top: 3px;
}

.objects .amount-option {
  display: none;
  width: 120px;
  position: absolute;
  right: -122px;
  top: 2px;
  z-index: 5;
  background: #FFF;
  color: rgba(0, 0, 0, 0.7);
  font-size: 12px;
  padding: 10px;
  border-radius: 10px;
}

.amount-option .left, .amount-option .right {
  width: 10%;
  cursor: pointer;
}

.amount-option .center {
  width: 80%;
  font-size: 15px;
  font-weight: 700;
}

.amount-option .button {
  width: 100%;
  outline: 0;
  padding: 5px;
  background: rgb(218, 5, 111);
  border: 0px;
  border-radius: 5px;
  color: #FFF;
  font-weight: 700;
  margin-top: 3px;
}

.amount-option .button.cancel {
  background: #FFF !important;
  color: rgba(0, 0, 0, 0.7) !important;
}

::-webkit-scrollbar
{
    width: 3px;   /*for vertical scrollbars*/ 
    height: 12px;  /*for horizontal scrollbars*/ 
}

::-webkit-scrollbar-track
{
    background: rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    background-color: #818B99;
    border: 3px solid transparent;
    border-radius: 9px;
    -moz-background-clip: content-box;
    -webkit-background-clip: content-box;
    background-clip: content-box;
}



@media (min-width: 1800px) {
  .objects .cell {
    flex: 0 0 10.2%;
    max-width: 10.2%;
  }
}

@media (min-width: 1590px) and (max-width: 1610px) {
  .objects .cell {
    flex: 0 0 11.4%;
    max-width: 11.4%;
  }
}

@media (min-width: 1420px) and (max-width: 1450px) {
  .objects .cell {
    flex: 0 0 14%;
    max-width: 14%;
  }
}

@media (min-width: 1270px) and (max-width: 1290px) {
  .objects .cell {
    flex: 0 0 13.6% !important;
    max-width: 13.6% !important;
  }
}

@media (min-width: 1014px) and ( max-width: 1034px) {
  .objects .cell {
    flex: 0 0 17.6%;
    max-width: 17.6%;
  }
}

@media (min-width: 790px) and (max-width: 810px) {
  .objects .cell {
    flex: 0 0 17.6%;
    max-width: 17.6%;
  }
}