html {
	overflow-x: hidden !important;
	overflow-y: hidden !important;
	background-color: transparent !important;
}

body {
	font-size: 12px;
	font-family: Arial,Helvetica,sans-serif;
	background-color: transparent !important;
}

#hudDisplay {
	right: 2vw;
	bottom: 7.5vh;
	position: absolute !important;
	
}

.hudDisplayText {
	font-weight: 700;
	padding: 6px 9px;
	color: rgba(255,255,255,0.7);
	position: absolute !important;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.8);
	text-align: center;
	
	
}


#server{
    position: absolute;
    right: 28px;
    top: 20px;
  }

  .discord {
    position: absolute;
	right: 0%;
    height: 555px;
    bottom: 185%;
    color: rgb(255, 255, 255);
    opacity: 1.0;
    font-size: 11px;
    text-transform: uppercase;
    display: inline-flex;
}

.img{
	width: 19px;
	margin-top: 2px;
	margin-left: 2px;
}

.infosBack {
	float: left;
	right: 2%;
	min-width: 500px;
	bottom: -27px;
	text-align: right;
	color: rgba(255,255,255,0.3);
	position: absolute !important;
	text-shadow: 1px 1px rgba(0,0,0,0.8);
	
}

.infosBack b {
	color: rgba(255,255,255,0.5);
	
}

.healthBack {
    float: right;
	width: 180px;
    height: 22px;
	margin: -5 5px 0 5px;
    transform: skewX(-14deg);
    background: rgba(0,0,0,0.3);
}

.healthDisplay {
	float: left;
	height: 22px;
	background: rgba(24, 248, 155, 0.603);
	transition: all 0.9s;
}

.healthIcon {
    color: rgba(255,255,255,0.7);
	font-size: 14px;
	font-weight: 800;
	text-shadow: 1px 1px rgba(0,0,0,1);
	font-family: Arial,Helvetica,sans-serif;
    margin: 0 10px;
    position: absolute;
}



.pedro{
	position: relative;
	top: -60px;
	left: 35px;
	color: white;
}

.pedro2{
	position: relative;
	top: -60px;
	left: 30px;
	color: white;
}

.carroBack {
    float: right;
	width: 180px;
	height: 22px;
	margin: -30px 0px 0 10px;
    transform: skewX(-14deg);
    background: rgba(0,0,0,0.3);

}


.carroDisplay {
	float: left;
	height: 22px;
	background: rgba(85, 84, 85, 0.8);
	transition: all 0.9s;
}

.armourIcon {
    color: rgba(255,255,255,0.7);
	font-size: 14px;
	font-weight: 800;
	text-shadow: 1px 1px rgba(0,0,0,1);
	font-family: Arial,Helvetica,sans-serif;
    margin: 0 10px;
    position: absolute;
}

.staminaBack {
    float: right;
	width: 180px;
	height: 22px;
	margin: 20px -180px 0 0px;
    transform: skewX(-14deg);
    background: rgba(0,0,0,0.3);

}

.staminaDisplay {
	float: left;
	height: 22px;
	background: rgba(16, 154, 181,0.5);
	transition: all 0.9s;
}

.hungerIcon {
    color: rgba(255,255,255,0.7);
	font-size: 14px;
	font-weight: 800;
	text-shadow: 1px 1px rgba(0,0,0,1);
	font-family: Arial,Helvetica,sans-serif;
    margin: 0 10px;
    position: absolute;
}


.clockBack {
	float: left;
	width: 51px;
	height: 26px;
	background: rgba(0,0,0,0.4);
	border-radius: 3px;
	margin-left: 5px;
}

#movieTop {
	top: 0;
	left: 0;
	width: 100%;
	height: 13%;
	background: #000;
	position: absolute;
	display: none;
}

#movieBottom {
	bottom: 0;
	left: 0;
	width: 100%;
	height: 13%;
	background: #000;
	position: absolute;
	display: none;
	
}

#carDisplay {
	right: 20%;
	bottom: -30px;
	font-size: 24px;
	font-weight: 700;
	text-align: right;
	color: rgba(255,255,255,0.6);
	position: absolute !important;
	text-shadow: 1px 1px rgba(0,0,0,1);
}


#carDisplay b {
	font-size: 11px;
	font-weight: 300;
	letter-spacing: 3px;
	padding-right: 5px;
	color: rgba(255,255,255,0.3);
}

#carDisplay s {
	font-size: 11px;
	font-weight: 300;
	letter-spacing: 3px;
	padding-right: 5px;
	background-image: url('https://cdn.discordapp.com/attachments/714249525249835040/739681584159916073/unknown.png');
	text-decoration: none;
}



.cintodeseguranca{
	position: absolute;
	top: 50%;
	right: 20%;
}

.cintodesegurancabotado{
	position: absolute;
	top: 50%;
	right: 20%;
}